<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-8 mt-4">
      <div class="card text-center shadow mb-5 bg-white rounded">
        <div class="card-header font-italic">
          Register new course
        </div>
        <div class="card-body">  

          <%= render 'form' %>
          
        </div>
        <div class="card-footer text-muted">
          <small><%= link_to '[ Cancel and return to categories listing ]', user_courses_path %> </small>
        </div>
      </div>
    </div>
  </div>
</div>