<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Topic</th>
      <th scope="col">Name</th>
      <th scope="col">Due Date</th>
      <th scope="col">Finished?</th>
    </tr>
  </thead>
  <tbody>
    <% @user_courses.each do |course| %>
      <% if course.user_id == current_user.id || current_user.role == Role.last %>
        <tr>
          <th scope="row"><%= course.course.topic.name %></th>
          <td><%= course.course.name %></td>
          <td><%= course.course.due_date %></td>
          <td><%= 'No' if not course.finished %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>