<div class="container-fluid">
  <h1 class="mt-4"><%= @user.name %></h1>
  <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Overall Performance</li>
  </ol>
<%= link_to "Back", :back %>
  <div class="row justify-content-center mt-2 mx-auto">
      <% Topic.all.each do |t|%>
      <div class="col-4 text-center">
        <span><%= t.name %></span>
        <%= pie_chart chart_users_topics_path(@user, t), download: true, donut: true, width: "200px", height: "150px", suffix: "%" %>
      </div>
    <% end %>
  </div>


  <br><br><br>
  <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Individual Performance</li>
  </ol>
  <div class="row">
  <span>work in progress</span>
  </div>
</div>