<!--div class="container-fluid" style='height: 100vh; background-image: url("https://media.datacenterdynamics.com/media/images/GettyImages-915675124.original.jpg");;background-position: center;background-repeat: no-repeat;background-size: cover;'>
  
    <div class="col d-flex justify-content-center">
        One of three columns
      </div>
    
</div-->

<div style="position: relative;text-align: center;color: white;">
  <!--img src="https://media.datacenterdynamics.com/media/images/GettyImages-915675124.original.jpg" alt="Snow" style="width:100%;filter: brightness(70%);"-->
  <img src="" alt="Snow" style="width:100%;filter: brightness(70%);">
  <div style="background-color: rgb(0,0,0); /* Fallback color */background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */color: white;font-weight: bold;border: 3px solid #f1f1f1;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);z-index: 2;width: 80%;padding: 20px;"><h1>Welcome to Ignite</h1></div>
</div>
